<section
  class="advantages"
  style="background-image: url('img/advantages-bg.jpg')"
  id="advantages"
>
  <div class="container">
    <h2 class="advantages__title">Наши условия и преимущества</h2>

    <ul class="advantages__list">
      <li class="advantages-item">
        <div class="advantages-item__img">
          <picture>
            <source srcset="img/advantages/1.webp" type="image/webp" />
            <img src="img/advantages/1.png" alt="img" />
          </picture>

          <div class="advantages-item__count">01</div>
        </div>
        <div class="advantages-item__text">
          <p>Полный бекинг с откатом до 60%,</p>
        </div>
      </li>
      <li class="advantages-item">
        <div class="advantages-item__img">
          <picture>
            <source srcset="img/advantages/2.webp" type="image/webp" />
            <img src="img/advantages/2.png" alt="img" />
          </picture>

          <div class="advantages-item__count">02</div>
        </div>
        <div class="advantages-item__text">
          <p>
            Выкуп доли до отката 80% в пользу игрока без учета доп. бонусных
            откатов
          </p>
        </div>
      </li>
      <li class="advantages-item">
        <div class="advantages-item__img">
          <picture>
            <source srcset="img/advantages/3.webp" type="image/webp" />
            <img src="img/advantages/3.png" alt="img" />
          </picture>

          <div class="advantages-item__count">03</div>
        </div>
        <div class="advantages-item__text">
          <p>
            +3% к откату при условии отыгрыша 500 турниров за месяц с винрейтом
            13+
          </p>
        </div>
      </li>
      <li class="advantages-item">
        <div class="advantages-item__img">
          <picture>
            <source srcset="img/advantages/4.webp" type="image/webp" />
            <img src="img/advantages/4.png" alt="img" />
          </picture>

          <div class="advantages-item__count">04</div>
        </div>
        <div class="advantages-item__text">
          <p>
            Безвозмездная финансовая помощь игроку в сборке компьютера и
            рабочего места
          </p>
        </div>
      </li>
      <li class="advantages-item">
        <div class="advantages-item__img">
          <picture>
            <source srcset="img/advantages/5.webp" type="image/webp" />
            <img src="img/advantages/5.png" alt="img" />
          </picture>

          <div class="advantages-item__count">05</div>
        </div>
        <div class="advantages-item__text">
          <p>
            Индивидуальная тренировка с топовым тренером сразу при вступлении
          </p>
        </div>
      </li>
      <li class="advantages-item">
        <div class="advantages-item__img">
          <picture>
            <source srcset="img/advantages/6.webp" type="image/webp" />
            <img src="img/advantages/6.png" alt="img" />
          </picture>

          <div class="advantages-item__count">06</div>
        </div>
        <div class="advantages-item__text">
          <p>Регулярные тренировки в небольших группах 3-4 раза в месяц</p>
        </div>
      </li>
      <li class="advantages-item">
        <div class="advantages-item__img">
          <picture>
            <source srcset="img/advantages/7.webp" type="image/webp" />
            <img src="img/advantages/7.png" alt="img" />
          </picture>

          <div class="advantages-item__count">07</div>
        </div>
        <div class="advantages-item__text">
          <p>Доступ к серверу с Simple preflop/postflop; hrc; flopzilla</p>
        </div>
      </li>
      <li class="advantages-item">
        <div class="advantages-item__img">
          <picture>
            <source srcset="img/advantages/8.webp" type="image/webp" />
            <img src="img/advantages/8.png" alt="img" />
          </picture>

          <div class="advantages-item__count">08</div>
        </div>
        <div class="advantages-item__text">
          <p>Гибкий селект с тщательным анализом каждого конкретного турнира</p>
        </div>
      </li>
    </ul>
  </div>
</section>
