<div class="popup popup--results">
  <div class="popup__container">
    <button class="popup__close" type="button" aria-label="Закрыть">
      <svg width="15" height="15">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="popup__wrapper">
      <button
        class="swiper-button-next"
        type="button"
        aria-label="Следующий"
      ></button>
      <button
        class="swiper-button-prev"
        type="button"
        aria-label="Предыдущий"
      ></button>
      <div class="popup__slider swiper">
        <ul class="popup__slides swiper-wrapper">
          <li class="popup__slide swiper-slide">
            <picture>
              <source srcset="img/results/1.webp" type="image/webp" />
              <img src="img/results/1.jpg" alt="" />
            </picture>
          </li>
          <li class="popup__slide swiper-slide">
            <picture>
              <source srcset="img/results/1.webp" type="image/webp" />
              <img src="img/results/1.jpg" alt="" />
            </picture>
          </li>
          <li class="popup__slide swiper-slide">
            <picture>
              <source srcset="img/results/1.webp" type="image/webp" />
              <img src="img/results/1.jpg" alt="" />
            </picture>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
