<section class="coaches" id="coaches">
  <div class="container">
    <h2 class="coaches__title">Тренеры школы</h2>
  </div>
  <div class="coaches__content">
    <div class="decor decor--small"></div>
    <div class="decor decor--big"></div>

    <div class="coaches__slider swiper">
      <ul class="coaches__slides swiper-wrapper">
        <li class="coaches__slide swiper-slide">
          <article class="coach-card">
            <div class="coach-card__top">
              <picture>
                <source srcset="img/coaches/1.webp" type="image/webp" />
                <img src="img/coaches/1.jpg" alt="MrMaffia" />
              </picture>
            </div>
            <div class="coach-card__body">
              <h3 class="coach-card__title">MrMaffia</h3>
              <p class="coach-card__text">
                За 2 года Ислам прошел путь с микролимитов, был первым человеком
                в FunFarm, которого повысили сразу на 3 ранга. На данный момент
                играет АБИ $125 с впечатляющими результатами и винрейтами.
                Буквально на днях Ислам обновил свой бесткеш, выиграв турнир за
                $525 на GG, и полчил $35.635.
              </p>
              <button class="coach-card__btn btn" type="button">
                Посмотреть результаты
              </button>
            </div>
          </article>
        </li>
        <li class="coaches__slide swiper-slide">
          <article class="coach-card">
            <div class="coach-card__top">
              <picture>
                <source srcset="img/coaches/2.webp" type="image/webp" />
                <img src="img/coaches/2.jpg" alt="MrMaffia" />
              </picture>
            </div>
            <div class="coach-card__body">
              <h3 class="coach-card__title">kipixer666</h3>
              <p class="coach-card__text">
                На данный момент он играет АБИ $40. Как видно по его графику,
                Дима не знает что такое диспа и ROI меньше 50%) Всю свою карьеру
                он катает с ЕВ под 20+ даже при самом стремительном росте АБИ и
                обещает обучить этому своих учеников.
              </p>
              <button class="coach-card__btn btn" type="button">
                Посмотреть результаты
              </button>
            </div>
          </article>
        </li>
        <li class="coaches__slide swiper-slide">
          <article class="coach-card">
            <div class="coach-card__top">
              <picture>
                <source srcset="img/coaches/3.webp" type="image/webp" />
                <img src="img/coaches/3.jpg" alt="MrMaffia" />
              </picture>
            </div>
            <div class="coach-card__body">
              <h3 class="coach-card__title">Ivanov_2022</h3>
              <p class="coach-card__text">
                Чемпион WPT 2020, 2-е место в турнире хайроллеров WSOPC за $10k,
                плюсовый рег ABI 500+ и автор лучшего интервью в истории покера
              </p>
              <button class="coach-card__btn btn" type="button">
                Посмотреть результаты
              </button>
            </div>
          </article>
        </li>
        <li class="coaches__slide swiper-slide">
          <article class="coach-card">
            <div class="coach-card__top">
              <picture>
                <source srcset="img/coaches/4.webp" type="image/webp" />
                <img src="img/coaches/4.jpg" alt="MrMaffia" />
              </picture>
            </div>
            <div class="coach-card__body">
              <h3 class="coach-card__title">MrMaffia</h3>
              <p class="coach-card__text">
                За 2 года Ислам прошел путь с микролимитов, был первым человеком
                в FunFarm, которого повысили сразу на 3 ранга. На данный момент
                играет АБИ $125 с впечатляющими результатами и винрейтами.
                Буквально на днях Ислам обновил свой бесткеш, выиграв турнир за
                $525 на GG, и полчил $35.635.
              </p>
              <button class="coach-card__btn btn" type="button">
                Посмотреть результаты
              </button>
            </div>
          </article>
        </li>
        <li class="coaches__slide swiper-slide">
          <article class="coach-card">
            <div class="coach-card__top">
              <picture>
                <source srcset="img/coaches/1.webp" type="image/webp" />
                <img src="img/coaches/1.jpg" alt="MrMaffia" />
              </picture>
            </div>
            <div class="coach-card__body">
              <h3 class="coach-card__title">MrMaffia</h3>
              <p class="coach-card__text">
                За 2 года Ислам прошел путь с микролимитов, был первым человеком
                в FunFarm, которого повысили сразу на 3 ранга. На данный момент
                играет АБИ $125 с впечатляющими результатами и винрейтами.
                Буквально на днях Ислам обновил свой бесткеш, выиграв турнир за
                $525 на GG, и полчил $35.635.
              </p>
              <button class="coach-card__btn btn" type="button">
                Посмотреть результаты
              </button>
            </div>
          </article>
        </li>
        <li class="coaches__slide swiper-slide">
          <article class="coach-card">
            <div class="coach-card__top">
              <picture>
                <source srcset="img/coaches/2.webp" type="image/webp" />
                <img src="img/coaches/2.jpg" alt="MrMaffia" />
              </picture>
            </div>
            <div class="coach-card__body">
              <h3 class="coach-card__title">MrMaffia</h3>
              <p class="coach-card__text">
                За 2 года Ислам прошел путь с микролимитов, был первым человеком
                в FunFarm, которого повысили сразу на 3 ранга. На данный момент
                играет АБИ $125 с впечатляющими результатами и винрейтами.
                Буквально на днях Ислам обновил свой бесткеш, выиграв турнир за
                $525 на GG, и полчил $35.635.
              </p>
              <button class="coach-card__btn btn" type="button">
                Посмотреть результаты
              </button>
            </div>
          </article>
        </li>
      </ul>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
