<section class="mission">
  <div class="container">
    <div class="mission__wrapper">
      <div class="mission__left">
        <h2 class="mission__title">Миссия нашей команды —</h2>
        <p class="mission__text">
          ппомочь каждому ее участнику максимально быстро и эффективно
          реализовать свой потенциал, а также дать возможность игроку вырасти по
          лимитам на столько быстро, на сколько он этого заслуживает.
        </p>
        <div class="mission__note">
          <p>
            Одной из главных нашей целей - сохранение индивидуального подхода к
            каждому игроку.
          </p>
        </div>
      </div>
      <div class="mission__right">
        <ul class="mission__list">
          <li class="mission-item">
            <span class="mission-item__number">> 500</span>
            <p class="mission-item__text">игроков обучаются в школе</p>
          </li>
          <li class="mission-item">
            <span class="mission-item__number">> 600</span>
            <p class="mission-item__text">тренировок проведено за год</p>
          </li>
          <li class="mission-item">
            <span class="mission-item__number">> 5 лет</span>
            <p class="mission-item__text">
              тренируем от новичка до профессионала
            </p>
          </li>
          <li class="mission-item">
            <span class="mission-item__number">> 20%</span>
            <p class="mission-item__text">рой за все время обучения в школе</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
