<section
  class="request"
  id="request"
  style="background-image: url('img/request-bg.jpg')"
>
  <div class="container">
    <div class="request__top">
      <h2 class="request__title">Отправить заявку</h2>
      <p class="request__text">
        Отправьте заявку на вступление в школу покера. Менеджер свяжется
        <span></span> с Вами в ближайшее время, проконсультирует и ответит на
        Ваши вопросы
      </p>
    </div>

    <form class="request__form form-submit">
      <div class="form-submit__end">Спасибо! Заявка отправлена</div>
      
      <div class="form-submit__inner">
        <div class="form-submit__steps">
          <div class="form-submit__step active">
            <div class="form-submit__group">
              <label class="form-submit__label" for="name"
                >Имя и фамилия*</label
              >
              <input
                class="form-submit__input"
                id="name"
                type="text"
                placeholder="Введите одно или несколько слов..."
                required
              />
            </div>
            <div class="form-submit__btns-group">
              <button type="button" class="form-submit__btn btn btn-next">
                Продолжить
              </button>
            </div>
          </div>
          <div class="form-submit__step">
            <div class="form-submit__group">
              <label class="form-submit__label" for="name">
                В каком городе живете?
              </label>
              <input
                class="form-submit__input"
                id="name"
                type="text"
                placeholder="Введите адрес, улицу или название места..."
              />
            </div>
            <div class="form-submit__btns-group">
              <button
                type="button"
                href="#"
                class="form-submit__btn btn btn-prev"
              >
                Назад
              </button>
              <button
                type="button"
                href="#"
                class="form-submit__btn btn btn-next"
              >
                Продолжить
              </button>
            </div>
          </div>
          <div class="form-submit__step">
            <div class="form-submit__group">
              <label class="form-submit__label" for="name">
                Сколько вам лет?*
              </label>
              <input
                class="form-submit__input"
                id="name"
                type="text"
                placeholder="Введите число..."
                required
              />
            </div>
            <div class="form-submit__btns-group">
              <button
                type="button"
                href="#"
                class="form-submit__btn btn btn-prev"
              >
                Назад
              </button>
              <button
                type="button"
                href="#"
                class="form-submit__btn btn btn-next"
              >
                Продолжить
              </button>
            </div>
          </div>
          <div class="form-submit__step">
            <div class="form-submit__group">
              <label class="form-submit__label" for="name">
                Электронная почта*
              </label>
              <input
                class="form-submit__input"
                id="name"
                type="text"
                placeholder="Введите e-mail"
                required
              />
            </div>
            <div class="form-submit__btns-group">
              <button
                type="button"
                href="#"
                class="form-submit__btn btn btn-prev"
              >
                Назад
              </button>
              <button
                type="button"
                href="#"
                class="form-submit__btn btn btn-next"
              >
                Продолжить
              </button>
            </div>
          </div>
          <div class="form-submit__step">
            <div class="form-submit__group">
              <label class="form-submit__label" for="name">
                Ваш ник в Discord
              </label>
              <input
                class="form-submit__input"
                id="name"
                type="text"
                placeholder="Полный ник и id в discord, например moinik#1234"
              />
            </div>
            <div class="form-submit__btns-group">
              <button
                type="button"
                href="#"
                class="form-submit__btn btn btn-prev"
              >
                Назад
              </button>
              <button
                type="button"
                href="#"
                class="form-submit__btn btn btn-next"
              >
                Продолжить
              </button>
            </div>
          </div>
          <div class="form-submit__step">
            <div class="form-submit__group">
              <label class="form-submit__label" for="name"> GipsyTeam </label>
              <input
                class="form-submit__input"
                id="name"
                type="text"
                placeholder="Ссылка на ваш профиль, если есть"
              />
            </div>
            <div class="form-submit__btns-group">
              <button
                type="button"
                href="#"
                class="form-submit__btn btn btn-prev"
              >
                Назад
              </button>
              <button
                type="button"
                href="#"
                class="form-submit__btn btn btn-next"
              >
                Продолжить
              </button>
            </div>
          </div>
          <div class="form-submit__step">
            <div class="form-submit__group">
              <label class="form-submit__label" for="name">
                Ваш ник в Telegram
              </label>
              <input
                class="form-submit__input"
                id="name"
                type="text"
                placeholder="Введите одно или несколько слов..."
              />
            </div>
            <div class="form-submit__btns-group">
              <button
                type="button"
                href="#"
                class="form-submit__btn btn btn-prev"
              >
                Назад
              </button>
              <button
                type="button"
                href="#"
                class="form-submit__btn btn btn-next"
              >
                Продолжить
              </button>
            </div>
          </div>
          <div class="form-submit__step">
            <div class="form-submit__group">
              <label class="form-submit__label" for="name">
                Ники в румах (Можно алиас на Sharkscope)
              </label>
              <input
                class="form-submit__input"
                id="name"
                type="text"
                placeholder="Каждый ник с новой строчки с указанием рума"
              />
            </div>
            <div class="form-submit__btns-group">
              <button
                type="button"
                href="#"
                class="form-submit__btn btn btn-prev"
              >
                Назад
              </button>
              <button
                type="button"
                href="#"
                class="form-submit__btn btn btn-next"
              >
                Продолжить
              </button>
            </div>
          </div>
          <div class="form-submit__step">
            <div class="form-submit__group">
              <label class="form-submit__label" for="name">
                Ваше отношение к покеру?*
              </label>
              <select class="form-submit__select select">
                <option value="0">Выберете из списка</option>
                <option value="1">Главный источник доходов</option>
                <option value="2">Примерно половина моих доходов</option>
                <option value="3">
                  Некоторая прибавка к моим основным доходам
                </option>
                <option value="4">Вообще ничего покером не зарабатываю</option>
              </select>
            </div>
            <div class="form-submit__btns-group">
              <button
                type="button"
                href="#"
                class="form-submit__btn btn btn-prev"
              >
                Назад
              </button>
              <button
                type="button"
                href="#"
                class="form-submit__btn btn btn-next"
              >
                Продолжить
              </button>
            </div>
          </div>
          <div class="form-submit__step">
            <div class="form-submit__group">
              <label class="form-submit__label" for="name">
                Кратко о вашей покерной карьере:*
              </label>
              <input
                class="form-submit__input"
                id="name"
                type="text"
                placeholder="Как давно играете? Какие дисциплины? Как развивались? и т.д.)"
                required
              />
            </div>
            <div class="form-submit__btns-group">
              <button
                type="button"
                href="#"
                class="form-submit__btn btn btn-prev"
              >
                Назад
              </button>
              <button
                type="button"
                href="#"
                class="form-submit__btn btn btn-next"
              >
                Продолжить
              </button>
            </div>
          </div>
          <div class="form-submit__step">
            <div class="form-submit__group">
              <label class="form-submit__label" for="name">
                Был ли до этого в других фондах? Если да, то перечисли в каких
                именно*
              </label>
              <input
                class="form-submit__input"
                id="name"
                type="text"
                placeholder="Введите одно или несколько слов..."
                required
              />
            </div>
            <div class="form-submit__btns-group">
              <button
                type="button"
                href="#"
                class="form-submit__btn btn btn-prev"
              >
                Назад
              </button>
              <button
                type="button"
                href="#"
                class="form-submit__btn btn btn-next"
              >
                Продолжить
              </button>
            </div>
          </div>
          <div class="form-submit__step">
            <div class="form-submit__group">
              <label class="form-submit__label" for="name">
                Какие программы используете для игры и работы над игрой?
              </label>
              <input
                class="form-submit__input"
                id="name"
                type="text"
                placeholder="Введите одно или несколько слов..."
              />
            </div>
            <div class="form-submit__btns-group">
              <button
                type="button"
                href="#"
                class="form-submit__btn btn btn-prev"
              >
                Назад
              </button>
              <button
                type="button"
                href="#"
                class="form-submit__btn btn btn-next"
              >
                Продолжить
              </button>
            </div>
          </div>
          <div class="form-submit__step">
            <div class="form-submit__group">
              <label class="form-submit__label" for="name">
                Откуда вы узнали о нашем проекте?*
              </label>
              <input
                class="form-submit__input"
                id="name"
                type="text"
                placeholder="Введите одно или несколько слов..."
                required
              />
            </div>
            <div class="form-submit__btns-group">
              <button type="button" class="form-submit__btn btn btn-prev">
                Назад
              </button>
              <button type="submit" class="form-submit__btn btn submit-btn">
                Отправить
              </button>
            </div>
          </div>
        </div>

        <div class="form-submit__bottom">
          <div class="form-submit__lines">
            <span class="form-submit__line active"></span>
            <span class="form-submit__line"></span>
            <span class="form-submit__line"></span>
            <span class="form-submit__line"></span>
            <span class="form-submit__line"></span>
            <span class="form-submit__line"></span>
            <span class="form-submit__line"></span>
            <span class="form-submit__line"></span>
            <span class="form-submit__line"></span>
            <span class="form-submit__line"></span>
            <span class="form-submit__line"></span>
            <span class="form-submit__line"></span>
            <span class="form-submit__line"></span>
          </div>
        </div>
        <div class="form-submit__text">
          Осталось ответить на
          <p><span class="count-steps"> 13 </span> вопросов</p>
        </div>
      </div>
    </form>
  </div>
</section>
