// Color
:root {
  --color-black: #000;
  --color-white: #fff;

  --color-dark: #282b32;
  --color-bg: #fffbf6;
  --color-accent: #dc853d;
  --color-green: #4f7b6f;
}

// * breakpointsMaxW
$bp-container: 1300px;
$bp-991: 991.98px;
$bp-768: 767.98px;
$bp-576: 576px;
$bp-360: 359.98px;

// *=== Fonts
$Jost: 'Jost';
$PTRootUI: 'PT Root UI';
